*{
    margin: 0;
    padding: 0;
}
body{
    background: #000;
}
#header {
    padding: 15px 0;
    background: #fff;
}
.container{
    width: 95%;
    margin: 0 auto;
}
#header.container{
    width: 85%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
button{
    border: none;
}
h1,h2,h3,h4,h5,h6{
    color: #fff;
}
p{
    color:#d8c9c989;
}
.header{
    display: flex;
    align-items: center;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    color: #000;
}
.header h2{
    color: #000;
    margin: 0  50px 0 0;

}

.header-left,
.header-right{
    display: flex;
    gap: 30px;
    align-items: center;
}
#course{
    padding: 60px 0 ;
}
.course{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}
.course h2{
    color: #fff;
}
.course h2{
    align-items: center;
    font-weight: 400px;
    width: 900px;
    height: 73px;
    font-size: 60px;
}
.course p{
    font-weight: 400px;
    padding: 10px 0;
    width: 746px;
    height: 36px;
    font-size: 28px;
    padding-bottom: 40px 0;
}
.cours-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.cours-btn button{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 281px;
    height: 66px;
    border-radius: 8px;
    font-size: 23px;
    background: red;
    color: #fff;
}
.cours-btn a{
    color:#f2ecec;
    font-size: 14px;

}
.photo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-one{
    width: 294px;
}
.image-one{
    position: relative;
    
}
.img-one{
    position: absolute;
    right: 10px;

}

#photo h1{
    font-size: 48px;
    font-weight: 400px;
}
#photo p{
    font-size: 19px;
}

.image-two{
    width: 75%;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.image-two_img{
    position: relative;
}
.img2{
    position: absolute;
    right: 0;
}
.image-two_text h1{
    width:340px

}
.image-two_text p {
    padding: 30px 0;
    width: 280px;
    line-height: 30px;
}
.image-three{
    width: 80%;
    height: 421px;
    
}
.image-four{
    padding: 180px 0 0 0;
    width: 76%;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-four_text h1{
   width: 404px;
   font-weight: 400px;
   line-height: 50px;
   font-size: 54px;
}
.image-four_text p{
    padding: 30px 0;

    width:316px ;
}

.start{
    padding: 300px 0;
    width: 75%;
    height: 141px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-image: url("./image/Rectangle\ \(2\).png");
    background-repeat: no-repeat;
    background-size: 100%; */
}
.start-text h1{
    width: 550px;
    height: 141px;
    line-height: 55px;
    font-weight: 400px;
    font-size: 58px;
}
.best_box{
    width: 90px;
    height: 1px ;
    color: red;
    font-weight: 900;
}
.start-text p{
   
    width: 340px;
    height: 152px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 400px;

}


.best {
    padding: 30px 0;
    text-align: center;
    width: 390px;
    height: 161px;
    font-size: 61px;
    font-weight: 400px;
}



.best p{
    padding: 30px 0;
    width: 390px;
    line-height: 30px;
    height: 76px;
}

.best-img{
    padding: 18px 0;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


    
